/*
Theme Name: Basic Wordpress Child-Theme
Theme URI: ---
Description: Portfolio Theme for Saldog
Author: Josh Wilson
Author URI: ---
Template: boilerplate
Version: 0.1
*/


/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/typography";
@import "partials/base";
@import "partials/header";